<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bunny</title>
    <style>
        table, th, td {
          border: 0px solid black;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    {% if rand == 1 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/KA9lOLMs7VM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 2 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/iZ296NmyKtc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 3 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/dpvUQagTRHM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 4 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/c-JMDOLhiTE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% endif %}
    <tr><td><a href="/"><input type="image" id="bunny" alt="bunny" src="/static/bunnyCat.png"></a></td></tr>
</table>
</body>
</html>