<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football</title>
    <style>
        table, th, td {
          border: 0px solid black;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    {% if rand == 1 %}
        <th></th>
    {% elif rand == 2 %}
        <th></th>
    {% endif %}
    <tr><td><a href="/"><input type="image" id="football" alt="football" src="/static/footballCat.png"></a></td></tr>
</table>
</body>
</html>