<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football</title>
    <style>
        table, th, td {
          border: 0px solid black;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    {% if rand == 1 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/FoRJ8XfkpfA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 2 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/5Xvt8owq1zo?start=305" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 3 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/Y2vS8dPMR2U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 4 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/QpdWbbfqyXI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% endif %}
    <tr><td><a href="/"><input type="image" id="football" alt="football" src="/static/footballCat.png"></a></td></tr>
</table>
</body>
</html>