<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hockey</title>
    <style>
        table, th, td {
          border: 0px solid black;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    <th><iframe width="560" height="315" align="center" src="https://www.youtube.com/embed/sccz3sjZlo8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    <tr><td><a href="/"><input type="image" id="hockey" alt="hockey" src="/static/hockeyCat.png"></a></td></tr>
</table>
</body>
</html>