<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panda</title>
    <style>
        table, th, td {
          border: 0px solid black;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    {% if rand == 1 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/93hq0YU3Gqk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 2 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/KQ67fDlqqhc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 3 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/BCPECl9uRBg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 4 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/D7xWXk5T3-g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% endif %}
    <tr><td><a href="/"><input type="image" id="panda" alt="panda" src="/static/pandaCat.png"></a></td></tr>
</table>
</body>
</html>