<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scuba</title>
    <style>
        table, th, td {
          border: 0px solid black;
        }
        table.center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    {% if rand == 1 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/uGzzQX0jNYY?start=42&amp;end=238" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 2 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/3Gioc3QAJ7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 3 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/aicZAJ6KaFI?start=88&amp;end=232" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% elif rand == 4 %}
        <th><iframe width="560" height="315" src="https://www.youtube.com/embed/sbzSx5IG0Z0?end=70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></th>
    {% endif %}
    <tr><td><a href="/"><input type="image" id="scuba" alt="scuba" src="/static/scubaCat.png"></a></td></tr>
</table>
</body>
</html>